<a href="https://colab.research.google.com/github/handsome1201/Big_Data/blob/main/ML_07_201802156_%EC%A0%95%ED%98%84%EC%A0%9C_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
def convert(imgf,labelf,outf,n):
  f = open(imgf,"rb")
  o = open(outf,"w")
  l = open(labelf,"rb")

  f.read(16)
  l.read(8)
  images = []

  for i in range(n):
    image = [ord(l.read(1))]
    for j in range(28*28):
      image.append(ord(f.read(1)))
    images.append(image)

  for image in images:
    o.write(",".join(str(pix) for pix in image)+"\n")
  
  f.close()
  o.close()
  l.close()

In [23]:
convert("/content/drive/MyDrive/기계학습/train-images.idx3-ubyte","/content/drive/MyDrive/기계학습/train-labels.idx1-ubyte","mnist_train.csv",60000)
convert("/content/drive/MyDrive/기계학습/t10k-images.idx3-ubyte","/content/drive/MyDrive/기계학습/t10k-labels.idx1-ubyte","mnist_test.csv",10000)

In [24]:
import pandas as pd

In [25]:
train_df = pd.read_csv("mnist_train.csv")
test_df = pd.read_csv("mnist_test.csv")

In [26]:
train_df.head()

,5,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.608,0.609,0.610,0.611,0.612,0.613,0.614,0.615,0.616,0.617
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [27]:
test_df.head()

,7,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.658,0.659,0.660,0.661,0.662,0.663,0.664,0.665,0.666,0.667
0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [28]:
column_name = []
for i in range(len(train_df.columns)):
  if i == 0:
    column_name.append("label")
  else:
    column_name.append("feats_"+str(i))

train_df.columns = column_name
test_df.columns = column_name

In [29]:
train_df.head()

,label,feats_1,feats_2,feats_3,feats_4,feats_5,feats_6,feats_7,feats_8,feats_9,...,feats_775,feats_776,feats_777,feats_778,feats_779,feats_780,feats_781,feats_782,feats_783,feats_784
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [30]:
test_df.head()

,label,feats_1,feats_2,feats_3,feats_4,feats_5,feats_6,feats_7,feats_8,feats_9,...,feats_775,feats_776,feats_777,feats_778,feats_779,feats_780,feats_781,feats_782,feats_783,feats_784
0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [31]:
train_df.to_csv("mnist_train_final.csv",index=False)
test_df.to_csv("mnist_test_final.csv",index=False)

In [32]:
from sklearn.model_selection import GridSearchCV

In [33]:
from sklearn.datasets import load_iris
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV

In [35]:
from sklearn.model_selection import train_test_split

train_feats,test_feats,train_labels,test_labels = train_test_split(load_iris().data,load_iris().target,test_size=0.2)

In [37]:
print(train_feats.shape)
print(test_feats.shape)
print(train_labels.shape)
print(test_labels.shape)

(120, 4)
(30, 4)
(120,)
(30,)

In [38]:
clf = DecisionTreeClassifier()
parameters = {
    "criterion" : ["gini", "entropy", "log_loss"],
    "splitter": ["best","random"],
    "max_depth": [1,2,3,4,5],
    "random_state": [0,1,2,3,4]
}

In [39]:
Gscv = GridSearchCV(clf,param_grid=parameters,scoring="accuracy")
Gscv.fit(train_feats,train_labels)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:372: FitFailedWarning:
250 fits failed out of a total of 750.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
250 fits failed with the following error:
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/tree/_classes.py", line 942, in fit
    X_idx_sorted=X_idx_sorted,
  File "/usr/local/lib/python3.7/dist-packages/sklearn/tree/_classes.py", line 352, in fit
    criterion = CRITERIA_CLF[self.criterion](
KeyError: 'log_loss'

  warnings.warn(some_fits_failed_message, FitFailedWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_search.py:972: UserWarning: One or more of the test scores are non-finite: [0.71666667 0.71666667 0.71666667 0.71666667 0.71666667 0.71666667
 0.71666667 0.70833333 0.71666667 0.5        0.95       0.875
 0.95       0.75       0.95       0.71666667 0.95       0.9
 0.95       0.75833333 0.96666667 0.89166667 0.96666667 0.85833333
 0.96666667 0.93333333 0.96666667 0.88333333 0.96666667 0.9
 0.96666667 0.89166667 0.96666667 0.94166667 0.95833333 0.91666667
 0.95833333 0.90833333 0.95833333 0.94166667 0.975      0.88333333
 0.96666667 0.975      0.96666667 0.94166667 0.95833333 0.95833333
 0.96666667 0.95       0.71666667 0.71666667 0.71666667 0.71666667
 0.71666667 0.71666667 0.71666667 0.71666667 0.71666667 0.525
 0.95       0.875      0.95       0.75       0.95       0.71666667
 0.95       0.90833333 0.95       0.775      0.96666667 0.89166667
 0.96666667 0.85833333 0.96666667 0.93333333 0.96666667 0.86666667
 0.96666667 0.88333333 0.96666667 0.89166667 0.95833333 0.95
 0.95833333 0.91666667 0.95       0.9        0.95833333 0.95
 0.96666667 0.88333333 0.95833333 0.975      0.95833333 0.94166667
 0.95       0.975      0.95833333 0.94166667        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan]
  category=UserWarning,

GridSearchCV(estimator=DecisionTreeClassifier(),
             param_grid={'criterion': ['gini', 'entropy', 'log_loss'],
                         'max_depth': [1, 2, 3, 4, 5],
                         'random_state': [0, 1, 2, 3, 4],
                         'splitter': ['best', 'random']},
             scoring='accuracy')

In [40]:
print("best parameters: ",Gscv.best_params_)
print("best score: ",Gscv.best_score_)

best parameters:  {'criterion': 'gini', 'max_depth': 5, 'random_state': 0, 'splitter': 'best'}
best score:  0.975

In [41]:
clf = Gscv.best_estimator_
print("test data에 대한 모델의 성능: ",clf.score(test_feats,test_labels))

test data에 대한 모델의 성능:  0.9

In [53]:
from sklearn.svm import SVC

classifier=SVC()
parameters = {
    "kernel" : ["rbf"],
    "gamma": [0.1, 1, 5, 10],
    "C": [0.1, 1, 5, 10]
}

In [54]:
Gscv_new = GridSearchCV(classifier,param_grid=parameters,scoring="accuracy")
Gscv_new.fit(train_feats,train_labels)

GridSearchCV(estimator=SVC(),
             param_grid={'C': [0.1, 1, 5, 10], 'gamma': [0.1, 1, 5, 10],
                         'kernel': ['rbf']},
             scoring='accuracy')

In [56]:
print("best parameters: ",Gscv_new.best_params_)
print("best score: ",Gscv_new.best_score_)

best parameters:  {'C': 5, 'gamma': 0.1, 'kernel': 'rbf'}
best score:  0.9916666666666666

In [59]:
classifier = Gscv.best_estimator_
print("test data에 대한 모델의 성능: ",classifier.score(test_feats,test_labels))

test data에 대한 모델의 성능:  0.9